.App {
  background-color: #270101;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}