.App {
  background-color: gray;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}


@import url('https://fonts.googleapis.com/css?family=Engagement|Josefin+Sans');

